body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 20px;
    color: white;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: white;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.movie {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    transition: transform 0.2s;
}

.movie img {
    max-width: 100%;
    border-radius: 5px;
}

.movie:hover {
    transform: scale(1.05);
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo img {
    max-width: 200px;
    height: auto;
    border-radius: 15%; /* Rounded edges for the logo */
}

/* Snowflake styling */
.snowflake {
    position: fixed;
    top: -10px;
    width: 20px;
    height: 20px;
    background: url('snowflake.png') no-repeat center center;
    background-size: contain;
    pointer-events: none;
    animation: fall 10s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(100vh);
    }
}
